<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Manager Settings</h2>
        <form action="/settings" method="post">
            <label for="CE">CE:</label>
            <input type="number" id="CE" name="CE" required>
            <br>
            <label for="MI">MI:</label>
            <input type="number" id="MI" name="MI" required>
            <br>
            <label for="Trans">Trans:</label>
            <input type="number" id="Trans" name="Trans" required>
            <br>
            <button type="submit">Update Headcount</button>
        </form>

        <p>Current Total Headcount: {{ total_headcount }}</p>
        <p>Current Trans Count: {{ trans_count }}</p>

        <br>
        <a href="/"><button type="button">Back to Home</button></a>
        <form action="/reset" method="post">
            <button type="submit">Hard Reset</button>
        </form>
    </div>
</body>
</html>
